# .dockerignore

# Игнорировать виртуальные окружения
venv/
env/

# Игнорировать системные библиотеки
/usr/local/lib/

# Игнорировать временные файлы и директории
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo

# Игнорировать скрытые файлы и папки (например, .git)
.*
